


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



html {
  background: $red;
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  -webkit-font-smoothing:antialiased;
  font-weight: $normal;
  color: $text-color;
  font-size: 14px;
}

body {
  background: $white;
}

h1 {
  font-size: 43px;
  line-height: 51px;
  margin-bottom: 32px;
}
h2 {
  font-size: 48px;
  line-height: 62px;
  font-weight: $bold;
  margin-bottom: 60px;
}
h3 {
  font-size: 16px;
  margin-bottom: 24px;
}

a {
  color: $red;
  text-decoration: underline;
  &:hover {
    color: $dark-blue;
  }
}

p {
  margin-bottom: 0.8em;
}

.container {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 120px 0;
}



#hero {
  background: $red;
  color: $white;
  background-image: url("/img/hero-bg.png");
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .logo {
    width: 100px;
    height: 65px;
    display: block;
    background-image: url("/img/logo.png");
    @include hide-text;
    @include background-size(100px 65px);
    margin-bottom: 55px;
  }
  p {
    font-size: 22px;
    margin-bottom: 32px;
  }
}
#hero-content {
  width: $col4;
  margin: 0 auto;
  background-image: url("/img/hero-bg.png");
}


#introduction {
  background: $dark-blue;
  color: $white;
  font-size: 18px;
  background-image: url("/img/intro-bg.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#intro-content {
  @include clearfix;
  .col-4 {
    float: left;
    width: $col4;
    margin-right: $margin-1;
    &:last-child {
      margin-right: 0;
    }
  }
}


#companies {
  h2 {
    color: $dark-blue;
  }
}


#people {
  background: $light-grey;
  ul {
    @include clearfix;
    li {
      float: left;
      width: 30.864197530864%;
      margin-right: $margin-1;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}




footer {
  background: $red;
  color: $white;
  padding: 90px 0;
  background-image: url("/img/hero-bg.png");
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}



@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  #hero .logo {
    background-image: url("/img/logo@2x.png");
  }
}